@charset "UTF-8";
* {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

h1 {
  color: #ffffff;
  font-weight: 700;
  font-size: 2.8em;
}

.f-we-300 {
  font-weight: 300;
}

.f-we-400 {
  font-weight: 400;
}

.f-we-500 {
  font-weight: 500;
}

.f-we-600 {
  font-weight: 600;
}

.f-we-800 {
  font-weight: 800;
}

.flex {
  display: flex;
}

.cen {
  justify-content: center;
}

.btw {
  justify-content: space-between;
}

.even {
  justify-content: space-evenly;
}

.around {
  justify-content: space-around;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.wrap {
  flex-wrap: wrap;
}

.col-cen {
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.general-margin {
  padding-left: 9%;
  padding-right: 9%;
}

@media (min-width: 1100px) {
  .general-margin {
    padding-left: 13%;
    padding-right: 13%;
  }
}
.dbg {
  border: 0.8px solid salmon;
}

.h-8 {
  height: 8px;
}

.h-16 {
  height: 16px;
}

.h-24 {
  height: 24px;
}

.h-32 {
  height: 32px;
}

.h-40 {
  height: 40px;
}

.h-48 {
  height: 48px;
}

.h-56 {
  height: 56px;
}

.h-64 {
  height: 64px;
}

.h-72 {
  height: 72px;
}

.h-80 {
  height: 80px;
}

.h-100 {
  height: 100px;
}

.h-130 {
  height: 130px;
}

.h-140 {
  height: 140px;
}

.h-200 {
  height: 200px;
}

.w-8 {
  width: 8px;
}

.w-16 {
  width: 16px;
}

.w-24 {
  width: 24px;
}

.w-32 {
  width: 32px;
}

.w-40 {
  width: 40px;
}

.w-48 {
  width: 48px;
}

.w-56 {
  width: 56px;
}

.w-64 {
  width: 64px;
}

.w-per-4 {
  width: 4%;
}

.w-per-10 {
  width: 10%;
}

.white-color {
  color: #ffffff;
}

.light-color {
  color: #5d6368;
}

.dark-color {
  color: #25282B;
}

.accent-color {
  color: #EB913E;
}

.em0-9 {
  font-size: 0.9rem;
}

.em1- {
  font-size: 1.1rem;
}

.em1-2 {
  font-size: 1.2rem;
}

.em1-3 {
  font-size: 1.3rem;
}

.em1-4 {
  font-size: 1.4rem;
}

.em1-7 {
  font-size: 1.7rem;
}

.em2-0 {
  font-size: 2rem;
}

.em2-7 {
  font-size: 2.7rem;
}

.em3-3 {
  font-size: 3.3rem;
}

.em4-0 {
  font-size: 3.3rem;
}

.bold-txt {
  font-weight: bold;
}

.light-txt {
  font-weight: 300;
}

.txt-600 {
  font-weight: 600;
}

.txt-500 {
  font-weight: 500;
}

.txt-align-cen {
  text-align: center;
}

.btn {
  background-color: transparent;
  padding: 0.8rem 1.7rem;
  border-radius: 300px;
  border: 0;
  font-weight: 600;
}

.btn-no-radius {
  background-color: transparent;
  padding: 0.8rem 1.7rem;
  border: 0;
  font-weight: 600;
}

.a-no-deco {
  text-decoration: none;
}

.solid {
  background-color: #EB913E;
  border: 1.5px solid #EB913E;
  color: #ffffff;
}

.border {
  border: 1.5px solid #ffffff;
  color: #ffffff;
}

.border-dark {
  border: 1.5px solid #25282B;
  color: #25282B;
}

header.white .border {
  border: 1.7px solid #a8a8a8;
  color: #25282B;
}

.space {
  padding: 1.2rem 2.9rem;
  font-size: 0.9em;
  box-shadow: 3px 6px 30px rgba(0, 0, 0, 0.213);
}

.social-btn {
  background-color: white;
  padding: 0.9rem 2.7rem;
  border-radius: 20px;
  border: 0;
  font-weight: 600;
  display: flex;
  align-items: center;
  font-size: 0.9em;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.11);
}

.google {
  background-color: #409DF9;
  color: #ffffff;
}

.facebook {
  color: #5d6368;
}

button[type=submit] {
  padding: 1rem 8rem;
  border-radius: 20px;
  border: 0;
  font-weight: 600;
  background-color: #EB913E;
  color: #ffffff;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.11);
}

input {
  font-size: 1em;
  padding: 0.7rem 10px;
  border-radius: 15px;
  border: 1.5px solid #e4e4e4;
  margin: 10px 0 10px;
}

input:focus {
  border: 1.5px solid #409DF9;
  outline: none;
  box-shadow: 0 0 4px #bfbfbf;
}

input[type=checkbox] {
  box-shadow: unset;
  border: unset;
  height: unset;
}

input::-moz-placeholder {
  color: #e4e4e4;
}

input:-ms-input-placeholder {
  color: #e4e4e4;
}

input::placeholder {
  color: #e4e4e4;
}

label {
  color: #25282B;
  font-weight: 700;
  font-size: 0.94em;
}

label.check {
  color: #a0a0a0;
  font-weight: 600;
}

footer {
  background-color: #463D80;
}

.footer-element {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  padding: 0px 7% 40px 7%;
}
.footer-element .footer-box {
  width: 100%;
  margin: 85px 0 0 0;
}
.footer-element img {
  align-self: center;
}
.footer-element .footer-logo {
  margin-bottom: 60px;
}
.footer-element .vline {
  display: none;
  opacity: 0.3;
  height: 240px;
  width: 0.1px;
  background-color: #25282B;
  margin: 0 4% 0 2%;
}

.footer-box.three .social-icons,
.footer-box.three .icon-text {
  display: flex;
}
.footer-box.three .social-icons {
  align-items: flex-end;
}
.footer-box.three .text {
  color: #847C93;
}

.footer-box.two li {
  margin-top: 8px;
  list-style: none;
}
.footer-box.two li a {
  text-decoration: none;
  color: inherit;
}

.policy-box {
  padding: 54px 7% 70px 7%;
  display: flex;
  justify-content: space-between;
}
.policy-box .vl-white {
  height: 20px;
  width: 0px;
  background-color: rgba(223, 223, 223, 0.385);
}

@media (min-width: 910px) {
  .footer-element .vline.one {
    display: block;
    margin: 0 12% 0 9%;
  }
  .footer-element .footer-box {
    width: 400px;
  }
  .footer-element .footer-box.two {
    width: 200px;
  }
}
@media (min-width: 1280px) {
  .footer-element .vline.one {
    margin: 0 4% 0 2%;
  }
  .footer-element .vline.two {
    display: block;
  }
  .footer-element .footer-box {
    width: 320px;
  }
  .footer-element .footer-box.two {
    width: 320px;
  }
}
.header-placeholder {
  height: 100px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  color: #ffffff;
  padding: 0 6%;
  position: fixed;
  width: 100%;
  z-index: 2;
  top: 0;
}
header .logo {
  height: 50;
  width: 178;
  color: cadetblue;
}
header .menu-row,
header .account-btn {
  display: none;
}
header .menu {
  margin: 0 1.7vw;
  font-size: 0.9em;
  color: #ebebeb;
  cursor: pointer;
  text-decoration: none;
}
header .menu .hover-line {
  height: 2px;
  width: 0px;
  margin-top: 1px;
  background-color: #EB913E;
  border-radius: 50px;
  transition: width 0.4s;
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.ham-menu {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.ham-menu .line {
  margin-top: 3px;
  margin-bottom: 3px;
  height: 3px;
  border-radius: 1px;
  width: 30px;
  background-color: white;
}
.ham-menu .three {
  width: 21px;
}

.menu:hover .hover-line {
  width: 42px;
}

header.white {
  background-color: white;
  box-shadow: 0 3px 10px rgba(168, 168, 168, 0.171);
  height: 70px;
}
header.white .menu {
  color: #25282B;
}
header.white .ham-menu .line {
  background-color: #545454;
  border-radius: 1px;
}

@media (min-width: 702px) {
  .header-placeholder {
    height: 120px;
  }

  header {
    padding: 0 6%;
    height: 120px;
  }

  header.white {
    height: 80px;
  }
}
@media (min-width: 1150px) {
  header {
    padding: 0 9%;
  }
  header .menu-row,
header .account-btn {
    display: flex;
  }

  .ham-menu {
    display: none;
  }
}
.sbs-box {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  padding-top: 45px;
  padding-bottom: 30px;
  padding-left: 6%;
  padding-right: 6%;
  position: relative;
}
.sbs-box .back {
  position: absolute;
  width: 200px;
  height: 220px;
  background-color: #E9EFFB;
  z-index: -1;
  top: 80px;
  right: 0;
}
.sbs-box img {
  height: 290px;
  -o-object-fit: cover;
     object-fit: cover;
}
.sbs-box .sbs.text-box .h-32 {
  height: 22px;
}
.sbs-box ul {
  list-style-position: inside;
  list-style: none;
  margin-left: 19px;
}
.sbs-box ul li::before {
  content: "•";
  color: #EB913E;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
  /* Also needed for space (tweak if needed) */
}
.sbs-box .line {
  height: 5px;
  width: 120px;
  border-radius: 50px;
  background-color: #EB913E;
}
.sbs-box .title {
  font-size: 1.7em;
  color: #25282B;
  padding-top: 35px;
}
.sbs-box .desc {
  color: #5d6368;
}
.sbs-box .desc a {
  color: #f89318;
  text-decoration: none;
}

.sbs-box.reverse {
  display: flex;
  flex-direction: column-reverse;
}
.sbs-box.reverse .back {
  right: unset;
  left: 0;
}

@media (min-width: 700px) {
  .sbs-box {
    padding-left: 10%;
    padding-right: 10%;
  }
}
@media (min-width: 846px) {
  .sbs-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 120px;
    padding-bottom: 80px;
    padding-left: 9%;
    padding-right: 9%;
  }
  .sbs-box img {
    width: 390px;
    height: 400px;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 12px;
  }
  .sbs-box .back {
    position: absolute;
    width: 320px;
    height: 300px;
    background-color: #E9EFFB;
    z-index: -1;
    top: 170px;
    right: 0;
  }
  .sbs-box .title {
    padding-top: 0;
    font-size: 2.3em;
  }

  .sbs.text-box {
    width: 400px;
  }

  .sbs-box.reverse {
    flex-direction: row-reverse;
  }
  .sbs-box.reverse .back {
    right: unset;
    left: 0;
  }
}
@media (min-width: 1100px) {
  .sbs-box {
    padding-left: 13%;
    padding-right: 13%;
  }
}
.side-menu {
  position: fixed;
  right: 0;
  height: 100%;
  width: 0;
  background-color: #3d3570f3;
  z-index: 3;
  transition: 0.5s;
  overflow-x: hidden;
}
.side-menu .menu-column {
  width: 40%;
  min-width: 300px;
  margin-left: 20%;
  display: flex;
  flex-direction: column;
}
.side-menu .menu {
  text-decoration: none;
  font-size: 1.4em;
  font-weight: w700;
  margin-top: 18px;
  margin-bottom: 18px;
  color: white;
}
.side-menu .account-btn {
  display: flex;
}

.close {
  height: 100px;
  margin-left: 10%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.close .close-menu {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: fixed;
  cursor: pointer;
}
.close .close-menu .line {
  height: 3px;
  border-radius: 1px;
  width: 30px;
  background-color: white;
}
.close .close-menu .one {
  transform: rotate(45deg) translateY(2px);
}
.close .close-menu .two {
  transform: rotate(-45deg) translateY(-2px);
}

.landing-bg {
  background-color: #463D80;
  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.landing-content {
  display: flex;
  justify-content: space-between;
  padding-left: 6%;
  padding-right: 6%;
  padding-bottom: 70px;
}

.content-box {
  width: 90%;
}
.content-box .desc {
  background-color: #3E70D5;
  color: #f1f1f1;
  padding: 1.5rem;
  font-size: 1.1em;
  border-radius: 8px;
}
.content-box .small-hide {
  display: none;
}
.content-box .types {
  display: flex;
}
.content-box .types div {
  background-color: #6C619A;
  padding: 0.9rem 1.7rem;
  margin-right: 14px;
  margin-bottom: 14px;
  border-radius: 8px;
  color: #ffffff;
}

.user-box {
  display: none;
}

.front-bg {
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
}

.scholarship-bg {
  position: absolute;
  top: 0;
  display: flex;
  height: 100%;
  z-index: -9;
  width: 100%;
}
.scholarship-bg img {
  -o-object-fit: cover;
     object-fit: cover;
  min-width: 100%;
  width: 100%;
  height: 100%;
}

.banner-arrow {
  position: absolute;
  top: 50%;
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-left: 9%;
  padding-right: 9%;
}
.banner-arrow .next,
.banner-arrow .prev {
  padding: 14px;
  background-color: #f89318;
  border-radius: 50%;
  cursor: pointer;
}
.banner-arrow .prev {
  transform: rotate(180deg);
}

.banner-span {
  position: absolute;
  bottom: 75px;
  left: 50%;
  transform: translateX(-50%);
}
.banner-span span {
  width: 15px;
  height: 15px;
  display: inline-block;
  background-color: #fff;
  margin-right: 10px;
  border-radius: 50%;
}

.about-us-bg {
  background-image: url("../images/about_us/landing_bg.png");
}

.event-bg {
  background-image: url("../images/events/landing_bg.png");
}

.contact-bg {
  background-image: url("../images/contact.png");
}

.banner-wrap {
  width: 100%;
  transition: all 0.2s;
}

.front-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 6%;
  padding-right: 6%;
  padding-bottom: 150px;
  min-width: 100%;
}
.front-content h1.title {
  font-size: 2.7rem;
  text-align: center;
}
.front-content .desc {
  width: 100%;
  text-align: center;
  color: #f1f1f1;
  padding: 1.5rem;
  font-size: 1.1rem;
}

@media (min-width: 846px) {
  .landing-bg {
    padding: 0;
  }

  .landing-content {
    padding-left: 6%;
    padding-right: 6%;
  }

  .content-box {
    width: 60%;
  }
  .content-box .small-hide {
    display: block;
  }

  .user-box {
    display: block;
  }
  .user-box .user {
    width: 263px;
    height: auto;
    margin-bottom: 30px;
  }
  .user-box .comment {
    width: 263px;
    height: 101px;
    overflow: hidden;
    background-color: #409DF9;
    border-radius: 5px;
  }
  .user-box .comment img {
    width: 100%;
    -o-object-fit: fills;
       object-fit: fills;
  }
}
@media (min-width: 1100px) {
  .landing-content {
    padding-left: 13%;
    padding-right: 13%;
  }
}
.subscribe-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 80px;
  padding-top: 100px;
  margin-top: -85px;
  background-color: #E9EFFB;
  background-repeat: no-repeat;
  background-size: cover;
}
.subscribe-box .title {
  display: inline-block;
  text-align: center;
  font-size: 2.3em;
  font-weight: 800;
  color: #463D80;
}
.subscribe-box .desc {
  text-align: center;
  font-weight: 300;
  font-size: 1.3em;
  max-width: 860px;
}
.subscribe-box .input-box {
  display: flex;
  text-align: center;
  min-width: 100%;
  max-width: 860px;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
@media (max-width: 900px) {
  .subscribe-box .input-box {
    flex-direction: column;
  }
}
.subscribe-box .input-box svg {
  position: absolute;
  left: 50px;
}
@media (max-width: 900px) {
  .subscribe-box .input-box svg {
    top: 20px;
  }
}
.subscribe-box .input-box button {
  height: 70px;
}

#email-input {
  width: 80%;
  border-radius: 38px;
  border: none;
  background-color: white;
  padding-left: 100px;
  height: 70px;
  color: black;
}
#email-input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
#email-input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
#email-input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}
@media (max-width: 900px) {
  #email-input {
    height: 100%;
    width: 100%;
  }
}

.difff {
  background-color: aqua;
}

@media (min-width: 846px) {
  .subscribe-box {
    padding-bottom: 100px;
    padding-top: 148px;
  }
  .subscribe-box .title {
    font-size: 2.8em;
  }
}
.mission-box {
  padding-top: 100px;
  padding-bottom: 30px;
}
.mission-box .mission-text {
  text-align: center;
  font-size: 2em;
  color: #25282B;
  font-weight: 800;
}
.mission-box .all-mission {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mission.item {
  width: 215px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-bottom: 40px;
}
.mission.item .circle {
  border-radius: 50%;
}
.mission.item .outer {
  height: 135px;
  width: 135px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EB913E;
  box-shadow: 0 30px 50px #C5CFE280;
}
.mission.item .inner {
  height: 60.5px;
  width: 60.5px;
  background-color: #ffffff;
}
.mission.item .title {
  font-size: 1.4em;
  font-weight: 500;
  color: #25282B;
}
.mission.item .desc {
  color: #5d6368;
  font-weight: 300;
}

.mission.item.odd .outer {
  background-color: #409DF9;
}

@media (min-width: 602px) {
  .mission-box {
    padding-top: 150px;
    padding-bottom: 30px;
  }
  .mission-box .all-mission {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media (min-width: 846px) {
  .mission-box .all-mission {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: unset;
  }

  .mission.item {
    padding-top: unset;
  }

  .mission.item.odd {
    padding-top: 70px;
  }
}
.feedback-box {
  padding-top: 109px;
  padding-bottom: 109px;
}
.feedback-box .title {
  text-align: center;
  color: #25282B;
  font-size: 2em;
  font-weight: 800;
}

.all-feedback {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.feedback.item {
  height: 258px;
  width: 284px;
  background-color: #ffffff;
  border-radius: 10px;
  position: relative;
  padding: 18px;
  margin: 0px 12px 50px;
  box-shadow: 0 20px 60px #C5CFE280;
  display: flex;
  flex-direction: column;
}
.feedback.item .quote {
  height: 36px;
  width: 47px;
  position: absolute;
  top: -15px;
  left: 20px;
  background-image: url("../images/quote.png");
  background-repeat: no-repeat;
}
.feedback.item .desc {
  color: #5d6368;
}
.feedback.item .expand {
  flex-grow: 1;
}
.feedback.item .client-name {
  color: #EB913E;
  font-weight: 600;
}

@media (min-width: 846px) {
  .feedback-box .title {
    font-size: 2.5em;
  }
}
.benefit-box {
  display: flex;
  background-color: #463D80;
  color: #ffffff;
  align-items: flex-start;
  padding-top: 80px;
  padding-bottom: 70px;
  justify-content: center;
  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  flex-direction: column-reverse;
}
.benefit-box img {
  width: 100%;
  height: 550px;
  content: url("../images/benefit1.png");
  -o-object-fit: cover;
     object-fit: cover;
}
.benefit-box ul {
  list-style-position: inside;
}
.benefit-box .img-wrapper {
  width: 100%;
  background-color: white;
  padding: 0 10px;
}
.benefit-box .title {
  font-size: 2em;
  font-weight: 800;
  color: #EB913E;
  padding-top: 35px;
}

@media (min-width: 846px) {
  .benefit-box {
    flex-direction: row;
    align-items: center;
    padding-top: 131px;
    padding-bottom: 100px;
  }
  .benefit-box .img-wrapper {
    background-color: transparent;
    padding: 0;
    width: unset;
  }
  .benefit-box img {
    width: unset;
    height: unset;
    content: url("../images/benefit1.png");
  }
  .benefit-box .title {
    font-size: 3.2em;
    font-weight: 900;
    padding-top: 0;
  }
}
@media (min-width: 988px) {
  .benefit-box img {
    content: url("../images/benefits.png");
  }
}
.sponsors {
  background-color: white;
  padding-top: 102px;
  padding-bottom: 58px;
  margin-bottom: 6px;
}
.sponsors .title {
  color: #463d80;
  font-size: 2.5em;
  font-weight: 800;
}
.sponsors .logos {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  margin-bottom: 53px;
}
.sponsors .logos img {
  min-width: 20px;
  max-width: 200px;
}
@media (max-width: 600px) {
  .sponsors .logos img {
    min-width: 30%;
    max-width: 30%;
  }
}

body {
  background-color: #F4F7FD;
}

.scholarship-title {
  text-align: center;
  font-size: 2em;
  color: #25282B;
  font-weight: 800;
}

.scholarship-list {
  display: flex;
  flex-direction: column;
  padding-left: 6%;
  padding-right: 6%;
  align-items: center;
}
.scholarship-list ul {
  list-style-type: none;
  font-size: 1.3rem;
  width: 350px;
}
.scholarship-list ul li {
  text-align: center;
  text-decoration: underline;
  padding: 24px 0;
}

@media (min-width: 846px) {
  .front-content h1.title {
    font-size: 3.2rem;
  }
  .front-content .desc {
    width: 60%;
  }
}
@media (min-width: 926px) {
  .scholarship-list {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: unset;
  }
  .scholarship-list ul {
    list-style-type: circle;
  }
  .scholarship-list ul li {
    text-align: unset;
  }
  .scholarship-list ul li a {
    color: black;
  }
}
@media (max-width: 600px) {
  .scholarship-banner .front-content {
    padding: 0;
  }
}

.text-stats {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.text-stats .team-title {
  text-align: center;
  margin-bottom: 24px;
}
.text-stats .team-desc {
  max-width: 600px;
  text-align: center;
}

.stats-box {
  text-align: center;
  width: 214px;
  margin: 20px 2.5% 20px 0;
}

.stats-box.last {
  margin-left: 0;
}

.story-wrapper {
  display: flex;
  flex-direction: column;
}
.story-wrapper .story-text {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.story-wrapper .story-text p {
  font-size: 0.95rem;
}
.story-wrapper .story-large-img {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 10% 40%;
     object-position: 10% 40%;
  border-radius: 14.6214px 14.6214px 73.1068px 14.6214px;
}

.small-img-holder {
  display: flex;
  justify-content: space-between;
}
.small-img-holder .small-img {
  width: 47%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (min-width: 1100px) {
  .story-wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
  .story-wrapper .story-text {
    width: 38vw;
    flex-direction: column;
    justify-content: space-between;
  }
  .story-wrapper .story-large-img {
    width: 31vw;
    height: unset;
  }
}
.vision-box {
  background-color: #463D80;
  border: 1px solid transparent;
}
.vision-box .divider {
  height: 1px;
  background-color: rgba(255, 255, 255, 0.474);
}

.vision-item {
  margin-top: 98px;
  margin-bottom: 98px;
  display: flex;
  position: relative;
  flex-direction: column;
}
.vision-item img {
  height: 230px;
  -o-object-fit: cover;
     object-fit: cover;
}
.vision-item .vision {
  background-color: white;
  width: 100%;
  padding: 20px;
  border-radius: 8px;
}
.vision-item .title {
  font-size: 1.2em;
  text-align: center;
  font-weight: bold;
}
.vision-item .desc {
  text-align: center;
}

@media (min-width: 747px) {
  .vision-item {
    flex-direction: unset;
  }
  .vision-item .vision-wrap {
    top: 0;
    bottom: 0;
    right: 0;
    left: unset;
    width: 540px;
    margin-top: 5%;
    margin-bottom: 5%;
    position: absolute;
    color: #5d6368;
  }
  .vision-item img {
    height: 340px;
  }

  .reverse {
    flex-direction: row-reverse;
  }
  .reverse .vision-wrap {
    top: 0;
    bottom: 0;
    left: 0;
    right: unset;
  }
}
.our-team {
  padding-top: 100px;
  padding-bottom: 155px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../images/about_us/our_team_bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
.our-team .team-desc {
  max-width: 600px;
  text-align: center;
}

.team-holder {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.team-item-box {
  min-height: 240px;
  width: 230px;
  background-color: white;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 19px;
  margin: 30px 12px 0px 0px;
  text-decoration: none;
}
.team-item-box:hover {
  background-color: #eb913e;
}
.team-item-box .img-name-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.team-item-box .img {
  height: 131px;
  width: 131px;
  border-radius: 50%;
  background-color: rgba(128, 128, 128, 0.269);
  overflow: hidden;
}
.team-item-box .img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.team-item-box .divide {
  height: 20px;
  width: 214px;
  background-color: rgba(128, 128, 128, 0.269);
  margin: 29px 0 15px 0;
}
.team-item-box .role {
  text-align: center;
}

.team-item-box.last {
  margin-left: 0;
}

.contact-section {
  background-color: #f4f7fd;
  padding: 104px;
}
@media (max-width: 900px) {
  .contact-section {
    padding: 70px;
  }
}
@media (max-width: 600px) {
  .contact-section {
    padding: 24px;
  }
}
.contact-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 1024px) {
  .contact-text {
    flex-direction: column;
    align-items: flex-start;
  }
}
.contact-text h3 {
  font-weight: 700;
  font-size: 48px;
  line-height: 57.6px;
  max-width: 608px;
}
@media (max-width: 1024px) {
  .contact-text h3 {
    margin-bottom: 30px;
  }
}
@media (max-width: 900px) {
  .contact-text h3 {
    font-size: 36px;
    line-height: 48px;
  }
}
@media (max-width: 600px) {
  .contact-text h3 {
    font-size: 24px;
    line-height: 36px;
  }
}
.contact-text p {
  color: #515151;
  max-width: 504px;
}
.contact-details {
  display: flex;
  gap: 60px;
  color: #f89318;
  margin-top: 24px;
}
@media (max-width: 900px) {
  .contact-details {
    flex-direction: column;
    gap: 30px;
  }
}
.contact-details span {
  display: flex;
  align-items: center;
}
.contact-details span svg {
  margin-right: 18px;
}

.form {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-template-areas: "one two" "four five" "three three";
  -moz-column-gap: 32px;
       column-gap: 32px;
  row-gap: 24px;
  margin: 64px 0 120px;
}
@media (max-width: 600px) {
  .form {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    grid-template-areas: "three";
  }
}
.form label {
  display: block;
  margin-bottom: 16px;
}
.form input {
  width: 100%;
  border: 1px solid #f4f7fd;
  border-radius: 8px;
  margin: 0;
}
.form input::-moz-placeholder {
  font-weight: 400;
}
.form input:-ms-input-placeholder {
  font-weight: 400;
}
.form input::placeholder {
  font-weight: 400;
}
.form .contact-message {
  grid-area: three;
}
.form .contact-message textarea {
  width: 100%;
  border: 1px solid #f4f7fd;
  border-radius: 8px;
  height: 229px;
  padding: 18px 16px;
}
.form button {
  border-radius: 8px;
  width: 177px;
  padding: 18px 24px;
}

.map {
  background: #ffffff;
  border: 1px solid #f4f7fd;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 16px;
  position: relative;
}
@media (max-width: 600px) {
  .map {
    padding: 8px;
  }
}
.map iframe {
  border-radius: 8px;
  width: 100%;
}

.address {
  position: absolute;
  bottom: 40px;
  background: #ffffff;
  box-shadow: 0px 48px 32px rgba(143, 143, 143, 0.05);
  border-radius: 8px;
  left: 40px;
  right: 40px;
  padding: 24px 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 900px) {
  .address {
    flex-direction: column;
    align-items: flex-start;
    left: 16px;
    right: 16px;
    margin: 0 8px;
  }
}
.address h4 {
  font-size: 24px;
  line-height: 28.8px;
  margin-bottom: 24px;
}
.address a {
  height: 56px;
  width: 163px;
  background: #f89318;
  border-radius: 8px;
  color: white;
  border: none;
  font-weight: bold;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 900px) {
  .address a {
    height: 50px;
    margin-top: 10px;
  }
}

.join-hit {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.join-hit img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}
.join-hit .small-sc-title {
  display: block;
  margin-bottom: 56px;
}

.speaker-box {
  flex: 3;
}

.visitors-box {
  flex: 2.6;
  flex-direction: column;
  justify-content: space-between;
  display: none;
}

@media (min-width: 858px) {
  .join-hit {
    flex-direction: row;
  }
  .join-hit .small-sc-title {
    display: none;
  }

  .visitors-box {
    display: flex;
  }
}
.event-box {
  width: 100%;
  margin: 22px;
  padding: 22px;
  background-color: white;
}
.event-box img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}
.event-box .desc-box {
  height: 72px;
}

.video-bg {
  background-color: #242424;
  height: 500px;
}

@media (min-width: 765px) {
  .event-box {
    width: 286px;
    margin: 12px;
    padding: 12px;
  }
}/*# sourceMappingURL=app.css.map */