@charset "UTF-8";
* {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

h1 {
  color: #ffffff;
  font-weight: 700;
  font-size: 2.8em;
}

.f-we-300 {
  font-weight: 300;
}

.f-we-400 {
  font-weight: 400;
}

.f-we-500 {
  font-weight: 500;
}

.f-we-600 {
  font-weight: 600;
}

.f-we-800 {
  font-weight: 800;
}

.flex {
  display: flex;
}

.cen {
  justify-content: center;
}

.btw {
  justify-content: space-between;
}

.even {
  justify-content: space-evenly;
}

.around {
  justify-content: space-around;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.wrap {
  flex-wrap: wrap;
}

.col-cen {
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.general-margin {
  padding-left: 9%;
  padding-right: 9%;
}

@media (min-width: 1100px) {
  .general-margin {
    padding-left: 13%;
    padding-right: 13%;
  }
}
.dbg {
  border: 0.8px solid salmon;
}

.h-8 {
  height: 8px;
}

.h-16 {
  height: 16px;
}

.h-24 {
  height: 24px;
}

.h-32 {
  height: 32px;
}

.h-40 {
  height: 40px;
}

.h-48 {
  height: 48px;
}

.h-56 {
  height: 56px;
}

.h-64 {
  height: 64px;
}

.h-72 {
  height: 72px;
}

.h-80 {
  height: 80px;
}

.h-100 {
  height: 100px;
}

.h-130 {
  height: 130px;
}

.h-140 {
  height: 140px;
}

.h-200 {
  height: 200px;
}

.w-8 {
  width: 8px;
}

.w-16 {
  width: 16px;
}

.w-24 {
  width: 24px;
}

.w-32 {
  width: 32px;
}

.w-40 {
  width: 40px;
}

.w-48 {
  width: 48px;
}

.w-56 {
  width: 56px;
}

.w-64 {
  width: 64px;
}

.w-per-4 {
  width: 4%;
}

.w-per-10 {
  width: 10%;
}

.white-color {
  color: #ffffff;
}

.light-color {
  color: #5d6368;
}

.dark-color {
  color: #25282B;
}

.accent-color {
  color: #EB913E;
}

.em0-9 {
  font-size: 0.9rem;
}

.em1- {
  font-size: 1.1rem;
}

.em1-2 {
  font-size: 1.2rem;
}

.em1-3 {
  font-size: 1.3rem;
}

.em1-4 {
  font-size: 1.4rem;
}

.em1-7 {
  font-size: 1.7rem;
}

.em2-0 {
  font-size: 2rem;
}

.em2-7 {
  font-size: 2.7rem;
}

.em3-3 {
  font-size: 3.3rem;
}

.em4-0 {
  font-size: 3.3rem;
}

.bold-txt {
  font-weight: bold;
}

.light-txt {
  font-weight: 300;
}

.txt-600 {
  font-weight: 600;
}

.txt-500 {
  font-weight: 500;
}

.txt-align-cen {
  text-align: center;
}

.btn {
  background-color: transparent;
  padding: 0.8rem 1.7rem;
  border-radius: 300px;
  border: 0;
  font-weight: 600;
}

.btn-no-radius {
  background-color: transparent;
  padding: 0.8rem 1.7rem;
  border: 0;
  font-weight: 600;
}

.a-no-deco {
  text-decoration: none;
}

.solid {
  background-color: #EB913E;
  border: 1.5px solid #EB913E;
  color: #ffffff;
}

.border {
  border: 1.5px solid #ffffff;
  color: #ffffff;
}

.border-dark {
  border: 1.5px solid #25282B;
  color: #25282B;
}

header.white .border {
  border: 1.7px solid rgb(168, 168, 168);
  color: #25282B;
}

.space {
  padding: 1.2rem 2.9rem;
  font-size: 0.9em;
  box-shadow: 3px 6px 30px rgba(0, 0, 0, 0.213);
}

.social-btn {
  background-color: white;
  padding: 0.9rem 2.7rem;
  border-radius: 20px;
  border: 0;
  font-weight: 600;
  display: flex;
  align-items: center;
  font-size: 0.9em;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.11);
}

.google {
  background-color: #409DF9;
  color: #ffffff;
}

.facebook {
  color: #5d6368;
}

button[type=submit] {
  padding: 1rem 8rem;
  border-radius: 20px;
  border: 0;
  font-weight: 600;
  background-color: #EB913E;
  color: #ffffff;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.11);
}

input {
  font-size: 1em;
  padding: 0.7rem 10px;
  border-radius: 15px;
  border: 1.5px solid rgb(228, 228, 228);
  margin: 10px 0 10px;
}

input:focus {
  border: 1.5px solid #409DF9;
  outline: none;
  box-shadow: 0 0 4px rgb(191, 191, 191);
}

input[type=checkbox] {
  box-shadow: unset;
  border: unset;
  height: unset;
}

input::-moz-placeholder {
  color: rgb(228, 228, 228);
}

input:-ms-input-placeholder {
  color: rgb(228, 228, 228);
}

input::placeholder {
  color: rgb(228, 228, 228);
}

label {
  color: #25282B;
  font-weight: 700;
  font-size: 0.94em;
}

label.check {
  color: rgb(160, 160, 160);
  font-weight: 600;
}

footer {
  background-color: #463D80;
}

.footer-element {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  padding: 0px 7% 40px 7%;
}
.footer-element .footer-box {
  width: 100%;
  margin: 85px 0 0 0;
}
.footer-element img {
  align-self: center;
}
.footer-element .footer-logo {
  margin-bottom: 60px;
}
.footer-element .vline {
  display: none;
  opacity: 0.3;
  height: 240px;
  width: 0.1px;
  background-color: #25282B;
  margin: 0 4% 0 2%;
}

.footer-box.three .social-icons,
.footer-box.three .icon-text {
  display: flex;
}
.footer-box.three .social-icons {
  align-items: flex-end;
}
.footer-box.three .text {
  color: #847C93;
}

.footer-box.two li {
  margin-top: 8px;
  list-style: none;
}
.footer-box.two li a {
  text-decoration: none;
  color: inherit;
}

.policy-box {
  padding: 54px 7% 70px 7%;
  display: flex;
  justify-content: space-between;
}
.policy-box .vl-white {
  height: 20px;
  width: 0px;
  background-color: rgba(223, 223, 223, 0.385);
}

@media (min-width: 910px) {
  .footer-element .vline.one {
    display: block;
    margin: 0 12% 0 9%;
  }
  .footer-element .footer-box {
    width: 400px;
  }
  .footer-element .footer-box.two {
    width: 200px;
  }
}
@media (min-width: 1280px) {
  .footer-element .vline.one {
    margin: 0 4% 0 2%;
  }
  .footer-element .vline.two {
    display: block;
  }
  .footer-element .footer-box {
    width: 320px;
  }
  .footer-element .footer-box.two {
    width: 320px;
  }
}
.header-placeholder {
  height: 100px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  color: #ffffff;
  padding: 0 6%;
  position: fixed;
  width: 100%;
  z-index: 2;
  top: 0;
}
header .logo {
  height: 50;
  width: 178;
  color: cadetblue;
}
header .menu-row,
header .account-btn {
  display: none;
}
header .menu {
  margin: 0 1.7vw;
  font-size: 0.9em;
  color: rgb(235, 235, 235);
  cursor: pointer;
  text-decoration: none;
}
header .menu .hover-line {
  height: 2px;
  width: 0px;
  margin-top: 1px;
  background-color: #EB913E;
  border-radius: 50px;
  transition: width 0.4s;
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.ham-menu {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.ham-menu .line {
  margin-top: 3px;
  margin-bottom: 3px;
  height: 3px;
  border-radius: 1px;
  width: 30px;
  background-color: white;
}
.ham-menu .three {
  width: 21px;
}

.menu:hover .hover-line {
  width: 42px;
}

header.white {
  background-color: white;
  box-shadow: 0 3px 10px rgba(168, 168, 168, 0.171);
  height: 70px;
}
header.white .menu {
  color: #25282B;
}
header.white .ham-menu .line {
  background-color: rgb(84, 84, 84);
  border-radius: 1px;
}

@media (min-width: 702px) {
  .header-placeholder {
    height: 120px;
  }
  header {
    padding: 0 6%;
    height: 120px;
  }
  header.white {
    height: 80px;
  }
}
@media (min-width: 1150px) {
  header {
    padding: 0 9%;
  }
  header .menu-row,
header .account-btn {
    display: flex;
  }
  .ham-menu {
    display: none;
  }
}
.sbs-box {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  padding-top: 45px;
  padding-bottom: 30px;
  padding-left: 6%;
  padding-right: 6%;
  position: relative;
}
.sbs-box .back {
  position: absolute;
  width: 200px;
  height: 220px;
  background-color: #E9EFFB;
  z-index: -1;
  top: 80px;
  right: 0;
}
.sbs-box img {
  height: 290px;
  -o-object-fit: cover;
     object-fit: cover;
}
.sbs-box .sbs.text-box .h-32 {
  height: 22px;
}
.sbs-box ul {
  list-style-position: inside;
  list-style: none;
  margin-left: 19px;
}
.sbs-box ul li::before {
  content: "•";
  color: #EB913E;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em; /* Also needed for space (tweak if needed) */
}
.sbs-box .line {
  height: 5px;
  width: 120px;
  border-radius: 50px;
  background-color: #EB913E;
}
.sbs-box .title {
  font-size: 1.7em;
  color: #25282B;
  padding-top: 35px;
}
.sbs-box .desc {
  color: #5d6368;
}
.sbs-box .desc a {
  color: #f89318;
  text-decoration: none;
}

.sbs-box.reverse {
  display: flex;
  flex-direction: column-reverse;
}
.sbs-box.reverse .back {
  right: unset;
  left: 0;
}

@media (min-width: 700px) {
  .sbs-box {
    padding-left: 10%;
    padding-right: 10%;
  }
}
@media (min-width: 846px) {
  .sbs-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 120px;
    padding-bottom: 80px;
    padding-left: 9%;
    padding-right: 9%;
  }
  .sbs-box img {
    width: 390px;
    height: 400px;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 12px;
  }
  .sbs-box .back {
    position: absolute;
    width: 320px;
    height: 300px;
    background-color: #E9EFFB;
    z-index: -1;
    top: 170px;
    right: 0;
  }
  .sbs-box .title {
    padding-top: 0;
    font-size: 2.3em;
  }
  .sbs.text-box {
    width: 400px;
  }
  .sbs-box.reverse {
    flex-direction: row-reverse;
  }
  .sbs-box.reverse .back {
    right: unset;
    left: 0;
  }
}
@media (min-width: 1100px) {
  .sbs-box {
    padding-left: 13%;
    padding-right: 13%;
  }
}
.side-menu {
  position: fixed;
  right: 0;
  height: 100%;
  width: 0;
  background-color: rgba(61, 53, 112, 0.9529411765);
  z-index: 3;
  transition: 0.5s;
  overflow-x: hidden;
}
.side-menu .menu-column {
  width: 40%;
  min-width: 300px;
  margin-left: 20%;
  display: flex;
  flex-direction: column;
}
.side-menu .menu {
  text-decoration: none;
  font-size: 1.4em;
  font-weight: w700;
  margin-top: 18px;
  margin-bottom: 18px;
  color: white;
}
.side-menu .account-btn {
  display: flex;
}

.close {
  height: 100px;
  margin-left: 10%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.close .close-menu {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: fixed;
  cursor: pointer;
}
.close .close-menu .line {
  height: 3px;
  border-radius: 1px;
  width: 30px;
  background-color: white;
}
.close .close-menu .one {
  transform: rotate(45deg) translateY(2px);
}
.close .close-menu .two {
  transform: rotate(-45deg) translateY(-2px);
}

form.auth-box {
  padding-left: 8%;
  padding-right: 8%;
}
form.auth-box .or-text {
  color: #5d6368;
  font-size: 0.82em;
}
form.auth-box h2.title {
  font-weight: 700;
  font-size: 1.7em;
  color: #25282B;
}
form.auth-box .social-box {
  display: flex;
  flex-direction: column;
}
form.auth-box .form-box-holder {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
form.auth-box .input-label-box {
  display: flex;
  flex-direction: column;
}
form.auth-box .line {
  height: 3px;
  width: 80px;
  border-radius: 50px;
  background-color: rgb(191, 191, 191);
}
form.auth-box .form-box {
  flex: 1;
}
form.auth-box .checkbox-holder {
  display: flex;
  align-items: center;
}
form.auth-box .rm-forgot-box {
  display: flex;
  align-items: center;
}
form.auth-box .hide-space {
  display: none;
}
form.auth-box .res-w {
  width: 10%;
}
form.auth-box button[type=submit] {
  width: 100%;
}

@media (min-width: 590px) {
  .holder {
    display: flex;
  }
  .holder .auth-img {
    display: none;
  }
  form.auth-box {
    padding-left: 6%;
    padding-right: 4%;
  }
  form.auth-box .social-box {
    flex-direction: row;
  }
  form.auth-box .hide-space {
    display: block;
  }
  form.auth-box .res-w {
    width: unset;
  }
  form.auth-box button[type=submit] {
    width: unset;
  }
  form.auth-box .form-box-holder {
    flex-direction: row;
  }
}
@media (min-width: 800px) {
  .holder {
    display: flex;
    height: 100%;
    width: 100%;
    position: relative;
  }
  .holder .auth-img {
    display: flex;
    flex-basis: 40%;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .holder .fixed {
    position: fixed;
    width: 40%;
    height: 100%;
  }
  form.auth-box .social-box {
    flex-direction: column;
  }
  form.auth-box .form-box-holder {
    flex-direction: column;
  }
  form.auth-box .res-w {
    width: 100px;
  }
  form.auth-box button[type=submit] {
    width: 100%;
  }
}
@media (min-width: 1000px) {
  form.auth-box {
    padding-left: 4%;
    padding-right: 0%;
  }
  form.auth-box .social-box {
    flex-direction: row;
  }
  form.auth-box .res-w {
    width: unset;
  }
  form.auth-box button[type=submit] {
    width: unset;
  }
  form.auth-box .form-box-holder {
    flex-direction: row;
  }
}
@media (min-width: 1114px) {
  form.auth-box {
    padding-left: 8%;
    padding-right: 2%;
  }
}
.login-img {
  background-image: url("../images/login_image.png");
}

.register-img {
  background-image: url("../images/register_image.png");
}/*# sourceMappingURL=auth.css.map */