@use "../../abstract/all" as abs;

.feedback-box{
    padding-top: 70px;
    padding-bottom: 70px;

    .title{
        text-align: center;
        color: abs.$dark-text;
        font-size: 2.0em;
        font-weight: 800;    
    }
}

.all-feedback{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
} 


.feedback.item{
    height: 258px;
    width: 284px;
    background-color: abs.$white-color;
    border-radius: 10px;
    position: relative;
    padding: 18px;
    margin: 0px 12px 50px;
    box-shadow: 0 20px 60px abs.$drop-shadow;
    display: flex;
    flex-direction: column;

    .quote{
        height: 36px;
        width: 47px;
        position: absolute;
        top: -15px;
        left: 20px;
        background-image: url("../images/quote.png");
        background-repeat: no-repeat;
    }

    .desc{
        color: abs.$light-text;

    }

    .expand{
        flex-grow: 1;
    }

    .client-name{
        color: abs.$accent-color;
        font-weight: 600;
    }
}

@media (min-width: 846px) {
    .feedback-box{
    
        .title{
            font-size: 2.5em; 
        }
    }
    
}