@use "../../abstract/all" as abs;

.landing-bg {
    // height: 672px;
    background-color: abs.$blue-500;
    background-image: url("../images/background.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.landing-content {
    display: flex;
    justify-content: space-between;
    padding-left: 6%;
    padding-right: 6%;
    padding-bottom: 70px;
}

.content-box {
    width: 90%;
    .desc {
        background-color: abs.$blue-300;
        color: rgb(241, 241, 241);
        padding: 1.5rem;
        font-size: 1.1em;
        border-radius: 8px;
    }

    .small-hide {
        display: none;
    }

    .types {
        display: flex;
        div {
            background-color: abs.$types-blue;
            padding: 0.9rem 1.7rem;
            margin-right: 14px;
            margin-bottom: 14px;
            border-radius: 8px;
            color: abs.$white-color;
        }
    }
}

.user-box {
    display: none;
}

.front-bg {
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
}

.scholarship-bg {
    background-image: url("../images/scholarship/scholarship_bg.png");
}

.about-us-bg {
    background-image: url("../images/about_us/landing_bg.png");
}

.event-bg {
    background-image: url("../images/events/landing_bg.png");
}

.front-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 6%;
    padding-right: 6%;
    padding-bottom: 60px;

    h1.title {
        font-size: 2.7rem;
        text-align: center;
    }

    .desc {
        width: 100%;
        text-align: center;
        color: rgb(241, 241, 241);
        padding: 1.5rem;
        font-size: 1.1rem;
    }
}

@media (min-width: 846px) {
    .landing-bg {
        padding: 0;
    }

    .landing-content {
        padding-left: 6%;
        padding-right: 6%;
    }

    .content-box {
        width: 60%;

        .small-hide {
            display: block;
        }
    }

    .user-box {
        display: block;

        .user {
            width: 263px;
            height: auto;
            margin-bottom: 30px;
        }

        .comment {
            width: 263px;
            height: 101px;
            overflow: hidden;
            background-color: abs.$blue-100;
            border-radius: 5px;

            img{
                width: 100%;
                object-fit: fills;
            }
        }
    }
}

@media (min-width: 1100px) {
    .landing-content {
        padding-left: 13%;
        padding-right: 13%;
    }
}
