@use "../../abstract/all" as abs;

.mission-box{
    padding-top: 150px;
    padding-bottom: 110px;
    .mission-text{
        text-align: center;
        // background-color: blueviolet;
    }

    .all-mission{
        display: flex;
        justify-content: center;
    }
}

.mission.item{
    width: 192px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    .circle{
        border-radius: 50%;

    }

    .outer{
        height: 144px;
        width: 144px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: abs.$accent-color;
    }

    .inner{
        height: 64px;
        width: 64px;
        background-color: abs.$white-color;
    }
}