@use "../../abstract/all" as abs;

.sponsors-box{
    background-color: abs.$blue-100;
    padding-top: 102px;
    padding-bottom: 70px;

    .title{
        color: abs.$white-color;
        font-size: 2.5em;
        font-weight: 800;
    }

    .logos{
        width: 100%;
        height: 100px;
        margin: 10px;
        background-image: url("../images/sponsors.png");
    }
}