@use "../abstract/all" as abs;

.scholarship-title {
  text-align: center;
  font-size: 2em;
  color: abs.$dark-text;
  font-weight: 800;
}

.scholarship-list {
  display: flex;
  flex-direction: column;
  padding-left: 6%;
  padding-right: 6%;
  align-items: center;

  ul {
    list-style-type: none;
    // list-style-position: inside;
    font-size: 1.3rem;
    width: 350px;

    li {
      text-align: center;
      text-decoration: underline;
      padding: 24px 0;
    }
  }
}

@media (min-width: 846px) {
  .front-content {
    h1.title {
      font-size: 3.2rem;
    }

    .desc {
      width: 60%;
    }
  }
}

@media (min-width: 926px) {
  .scholarship-list {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: unset;

    ul {
      list-style-type: circle;

      li {
        text-align: unset;
      }
    }
  }
}
.scholarship-banner .front-content {
  @media (max-width: 600px) {
    padding: 0;
  }
}
