@use "variables" as v;

*{
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

@mixin textStyle($color: v.$light-text, $font-weight: 400, $font-size: 1em) {
    color: $color;
    font-weight: $font-weight;
    font-size: $font-size;
}

h1{
    @include textStyle(v.$white-color, 700, 2.8em);
}

.f-we-300{
    font-weight: 300;
}

.f-we-400{
    font-weight: 400;
}

.f-we-500{
    font-weight: 500;
}

.f-we-600{
    font-weight: 600;
}

.f-we-800{
    font-weight: 800;
}