$white-color: #ffffff;
$accent-color: #EB913E;
$secondary-color: #463D80;
$types-blue: #6C619A;

$blue-100: #409DF9;
$blue-300: #3E70D5;
$blue-500: #463D80;
$back-blue: #E9EFFB;

$dark-text: #25282B;
$light-text: #5d6368;

$background: #F4F7FD;
$drop-shadow: #C5CFE280