
.general-margin{
    padding-left: 13%;
    padding-right: 13%;
}

.h-8{
    height: 8px;
}

.h-16{
    height: 16px;
}

.h-24{
    height: 24px;
}

.h-32{
    height: 32px;
}

.h-40{
    height: 40px;
}

.h-48{
    height: 48px;
}

.h-56{
    height: 56px;
}

.h-64{
    height: 64px;
}

.h-72{
    height: 72px;
}


.w-8{
    width: 8px;
}

.w-16{
    width: 16px;
}

.w-24{
    width: 24px;
}

.w-32{
    width: 32px;
}

.w-40{
    width: 40px;
}

.w-48{
    width: 48px;
}

.w-56{
    width: 56px;
}

.w-64{
    width: 64px;
}


//?Percent rules go below
//7Percent rules go below
.w-per-4{
    width: 4%;
}

.w-per-10{
    width: 10%;
}